* {
  background-color: lightgray;
}
a {
  font-size: 140%;
}
a:hover {
  font-weight: bold;
}
a:link {
  color: DarkGoldenRod;
}
a:visited {
  color: DarkGreen;
}
section {
  text-align: center;
}
h1 {
  font-family: 'DancingScriptRegular';
  font-size: 300%;
}
footer {
  text-align: left;
  padding-top: 50px;
}
a {
  font-size: 140%;
}
a.gcmap {
  font-size: 100%;
}
